<meta property="og:title" content="{{ .Title | title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ with .Params.Excerpt }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .IsHome }}
    {{ with .Site.Params.cover }}
            <meta property="og:image" content="{{ . | absURL }}" />
    {{ end }}
{{ else }}
    {{ with .Params.images }}
        {{ range first 6 . }}
            <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
    {{ else }}
        {{ with .Params.image }}
            <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
    {{ end }}
{{ end }}

{{ if .IsPage }}
    {{ if not .PublishDate.IsZero }}
        <meta property="article:published_time" content="{{ .PublishDate.UTC.Format "2006-01-02T15:04:05Z" | safeHTML }}"/>
    {{ else if not .Date.IsZero }}
        <meta property="article:published_time" content="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" | safeHTML }}"/>
    {{ end }}
    {{ if not .Lastmod.IsZero }}
        <meta property="article:modified_time" content="{{ .Lastmod.UTC.Format "2006-01-02T15:04:05Z" | safeHTML }}"/>
    {{ end }}
{{ else }}
    {{ if not .Date.IsZero }}
        <meta property="og:updated_time" content="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" | htmlUnescape|safeHTML}}"/>
    {{ end }}
{{ end }}

{{ with .Params.audio }}
    <meta property="og:audio" content="{{ . }}" />
{{ end }}
{{ with .Params.locale }}
    <meta property="og:locale" content="{{ . }}" />
{{ else }}
    {{ with .Site.Params.Locale }}
        <meta property="og:locale" content="{{ . }}" />
    {{ end }}
{{ end }}
{{ with .Site.Title }}
    <meta property="og:site_name" content="{{ . }}{{ with $.Site.Params.Description }} :: {{ . }}{{ end }}" />
{{ end }}
{{ with .Params.videos }}
    {{ range .Params.videos }}
        <meta property="og:video" content="{{ . | absURL }}" />
    {{ end }}
{{ end }}

<!-- If it is part of a series, link to related articles -->
{{ $permalink := .Permalink }}
{{ $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}
    {{ range $name := . }}
        {{ $series := index $siteSeries $name }}
        {{ range $page := first 6 $series.Pages }}
            {{ if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if .IsPage }}
    {{ if not .Params.noauthor }}
        {{$.Scratch.Set "author" .Site.Author}}
        {{if .Params.author }}
            {{if isset .Site.Data.authors (.Params.author | lower)}}
                {{$author := index .Site.Data.authors (.Params.author | lower) }}
                {{$.Scratch.Set "author" $author}}
            {{end}}
        {{end}}
        {{$author := ($.Scratch.Get "author")}}
        {{ with $author.facebook }}
            <meta property="article:author" content="https://www.facebook.com/{{ . }}" />
        {{ end }}
    {{ end }}
    {{ with .Site.Social.facebook }}
        <meta property="article:publisher" content="https://www.facebook.com/{{ . }}" />
    {{ end }}
    {{ with .Params.categories }}
        {{ range first 1 . }}
            <meta property="article:section" content="{{ . }}" />
        {{ end }}
    {{ end }}
    {{ with .Params.tags }}
        {{ range first 6 . }}
            <meta property="article:tag" content="{{ . }}" />
        {{ end }}
    {{ end }}
{{ end }}

<!-- Facebook Page Admin ID for Domain Insights -->
{{ with .Site.Social.facebook_admin }}
    <meta property="fb:admins" content="{{ . }}" />
{{ end }}
