{{ partial "structure/header.html" . }}
{{if .Params.cover}}
  <header class="main-header tag-head list-cover">
{{else if .Site.Params.cover}}
  <header class="main-header tag-head cover">
{{else}}
    <header class="main-header tag-head no-cover">
{{end}}
    <nav class="main-nav overlay clearfix">
      {{ partial "navbar.html" . }}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">

    <ul class="taxonomy-list">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.ByCount }}
        <li><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{ if (eq $data.Singular "tag") }}#{{ $value.Name | upper }}{{ else }}{{ $value.Name | title }}{{ end }}</a> ({{ $value.Count }})</li>
    {{ end }}
    </ul>

</main>

{{ partial "structure/footer.html" . }}
