{{ if not .Params.noauthor }}
    {{$.Scratch.Set "author" .Site.Author}}
    {{if .Params.author }}
        {{if isset .Site.Data.authors (.Params.author | lower)}}
            {{$author := index .Site.Data.authors (.Params.author | lower) }}
            {{$.Scratch.Set "author" $author}}
        {{end}}
    {{end}}
{{ end }}
{{$author := ($.Scratch.Get "author")}}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ with .Params.Excerpt }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}",
  "wordCount": {{ .WordCount }},
  "datePublished" : "{{ .Date.Format "2006-01-02T15:04:05" }}",
  "dateModified" : "{{ .Lastmod.Format "2006-01-02T15:04:05"  }}",
  "author": {
    "name" : "{{ $author.name }}"
  },
{{- if isset .Params.article "image"}}
  "image" : {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "author": "{{ .Params.article.image.author }}",
      "url": "{{ with .Params.article.image.src }}{{ . | absURL }}{{ end }}",
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" }}",
      "name": "{{ .Params.article.image.title }}",
      "height" : {{ .Params.article.image.height }},
      "width" : {{ .Params.article.image.width }},
      "license" : "{{ .Params.article.image.license_link }}",
      "isBasedOn" : "{{ .Params.article.image.link }}"
  },
{{- else if isset .Params "image" -}}
  {{ $imageConfig := imageConfig (printf "static%s" .Params.Image) }}
  "image" : {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "author": "{{ $author.name }}",
      "url": "{{ with .Params.Image }}{{ . | absURL }}{{ end }}",
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" }}",
      "name": "{{ .Title }}",
      "height" : {{ $imageConfig.Height }},
      "width" : {{ $imageConfig.Width }},
      "license" : "https://creativecommons.org/licenses/by-sa/4.0/",
      "isBasedOn" : ""
  },
{{- else if isset .Site.Params "cover" -}}
  {{ $imageConfig := imageConfig (printf "static%s" .Site.Params.Cover) }}
  "image" : {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "author": "{{ $author.name }}",
      "url": "{{ with .Site.Params.Cover }}{{ . | absURL }}{{ end }}",
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" }}",
      "name": "{{ .Site.Title }}",
      "height" : {{ $imageConfig.Height }},
      "width" : {{ $imageConfig.Width }},
      "license" : "https://creativecommons.org/licenses/by-sa/4.0/",
      "isBasedOn" : ""
  },
{{- else }}
  {{ $imageConfig := imageConfig (printf "static%s" .Site.Params.Logo) }}
  "image" : {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "author": "{{ $author.name }}",
      "url": "{{ with .Site.Params.Logo }}{{ . | absURL }}{{ end }}",
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" }}",
      "name": "{{ .Site.Title }}",
      "height" : {{ $imageConfig.Height }},
      "width" : {{ $imageConfig.Width }},
      "license" : "https://creativecommons.org/licenses/by-sa/4.0/",
      "isBasedOn" : ""
  },
{{- end }}
{{- if isset $.Site.Params "publisherName" }}
  "publisher" : {
    "@type": "Organization",
    "name" : "{{ $.Site.Params.publisherName }}",
    "logo" : {
        "@type" : "ImageObject",
        "url" : "{{ $.Site.Params.organizationLogo }}",
        "height" : {{ $.Site.Params.publisherLogoHeight }},
        "width" : {{ $.Site.Params.publisherLogoWidth }}
    }
  },
{{- else }}
  {{ $imageConfig := imageConfig (printf "static%s" .Site.Params.Logo) }}
  "publisher" : {
    "@type": "Organization",
    "name" : "{{ $.Site.Title }}",
    "logo" : {
        "@type" : "ImageObject",
        "url": "{{ with .Site.Params.Logo }}{{ . | absURL }}{{ end }}",
        "height" : 60,
        "width" : 60
    }
  },
{{- end }}
  "mainEntityOfPage" : "{{ .Permalink }}"
}
</script>
