{{ if .Site.Params.logo }}
    <a class="blog-logo" href="{{ .Site.BaseURL | relURL }}"><amp-img src="{{ .Site.Params.logo | relURL }}" height="64" width="64" alt="Blog Logo" layout="fixed"></amp-img></a>
{{end}}
{{ if .Site.Menus.main }}
    <a class="menu-button" on="tap:sidebar.toggle" role="button" href="#"><i class="fa fa-bars" aria-hidden="true"></i><span class="menu-button-label">Menu</span></a>
{{else}}
    <a class="menu-button icon-feed" href="{{ if .Site.Params.RSSLink}}{{.Site.Params.RSSLink  | relURL}}{{else}}{{ .RSSLink  | relURL}}{{end}}">&nbsp;&nbsp;Subscribe</a>
{{end}}
